.wholepage {
    background-color: rgb(233, 233, 233);
     width:100%;
     margin: center;
}    
.cont1{
  background-color: white;
  padding: 25px;
  margin: auto;
}  

.col-sm-6{
  text-align: center;

}


@media only screen and (max-width: 767px) {
  .wholepage {
    background-color: rgb(255, 255, 255);
     width:100%;
     margin: center;
}    
.cont1{
  background-color: white;
  padding: 25px;
  margin: auto;
}  

.col-sm-6{
  text-align: center;

}
}  