.wholepage {
    background-color: rgb(233, 233, 233);
     width:100%;
  }
  .outer-grid{
    display: grid;
  }

  .outer_item1{
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .outer_item2{
    grid-row-start: 2;
    grid-row-end: 3;
   
  }


  .grid {
    display: grid;
    padding: 60px 75px;
    grid-column-gap: 10px;
    color: rgb(0, 0, 0);
  }
  .cont1 {
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 1.5;
    padding: 60px 15px;
  }
  .cont1 p {
    color: rgb(0, 0, 0)
  }
  .cont1 #figure {
    float: left;
  }
  .item0 {
    float: left;
    margin: 10px;
  }
  .cont2 {
    background-color: #ffffff;
    grid-column-start: 2.5;
    grid-column-end: 4;
    padding: 60px 65px;
  }
  .cont2 #figure {
    display: grid;
    justify-content: center;
    gap: 20px;
  }
  .hov1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
    border-style: solid;
    border-color: #ffffff;
  }
  .hov2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
    border-style: solid;
    border-color: #ffffff;
  }
  .hov3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 5px;
    border-style: solid;
    border-color: #ffffff;
  }
  .hov4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border-style: solid;
    padding: 5px;
    border-color: #ffffff;
  }
  .cont2 img {
    margin: 10px;
    width: 100%;
    padding: 5px;
  }
  .hov1:hover {
    border-color: rgb(14, 185, 157);
  }
  .hov2:hover {
    border-color: rgb(14, 185, 157);
  }
  .hov3:hover {
    border-color: rgb(14, 185, 157);
  }
  .hov4:hover {
    border-color: rgb(14, 185, 157);
  }